<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
<header th:insert="blocks/header :: header"></header>

<section class="py-5 text-center container">

    <h1>O нас</h1>
    <div style="display: flex;">
        <div>
            <img th:src="@{/img/aboutL.jpg}" class="bd-placeholder-img card-img-top" width="100%" height="400"
                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            </img>
        </div>
        <div class="col-lg-7 col-md-7 mx-auto">

            <p class="lead text-body-secondary">
                <br>
                Оказывая услуги по деревообработке, специалисты компании используют<br>
                современное высокоточное оборудование, работа на котором требует<br>
                высокого уровня профессионализма и большого опыта работы.<br>
                <br>
                Квалификация, отличные профессиональные навыки и доскональное<br>
                знание всех нюансов использования современных деревообрабатывающих<br>
                станков в сочетании с контролем качества на каждом этапе выполнения<br>
                работ позволяют производить гарантированно качественную продукцию<br>
                высокого качества.<br>
            </p>

        </div>
        <div style="display: flex;">
            <img th:src="@{/img/aboutR.jpg}" class="bd-placeholder-img card-img-top" width="100%" height="400"
                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            </img>
        </div>
    </div>

    <h1>Схема проезда</h1>
    <div class="container mt-5" style="display: flex; justify-content: center; ">
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A29d86c837f275de7c9011e9233cbd36ada9a8638bd29b6d33c07d408c1a78e92&amp;width=100%&amp;height=522&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</section>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>