<div th:fragment="footer">
    <div class="container my-5">
        <footer
                class="text-center text-lg-start text-dark"
                style="background-color: #ECEFF1"
        >
            <section
                    class="d-flex justify-content-between p-4 text-white"
                    style="background-color: #21D192"
            >
                <!-- Left -->
                <div class="me-5">
                    <span>Деревообработка и пиломатериалы в Витебске:</span>
                </div>

            </section>

            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold">ООО"ИВЛ-плюс"</h6>
                            <hr
                                    class="mb-4 mt-0 d-inline-block mx-auto"
                                    style="width: 200px; background-color: #7c4dff; height: 2px"
                            />
                            <p><i class="fas fa-home mr-3"></i>УНП 391507446</p>

                        </div>

                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">Разделы</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 200px; background-color: #7c4dff; height: 2px"
                            />
                            <p>
                                <a href="/" class="text-dark">Главная</a>
                            </p>
                            <p>
                                <a href="/blog" class="text-dark">Отзывы</a>
                            </p>
                            <p>
                                <a href="/blog/add" class="text-dark">Добавить отзыв</a>
                            </p>
                            <p>
                                <a href="/about" class="text-dark">О нас</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">Контакты</h6>
                            <hr
                                    class="mb-4 mt-0 d-inline-block mx-auto"
                                    style="width: 200px; background-color: #7c4dff; height: 2px"
                            />
                            <p><i class="fas fa-home mr-3"></i> Витебская обл., Витебский р-н, Шапечинский с/с, д.Старинцы, ул.Советская, д.1г</p>
                            <p><a href="mailto:demar.demidov@yandex.ru" class="text-dark">Написать нам на почту</a></p>                        </p>
                            <p><a href="https://vk.com/ivl_plus" class="text-dark">Наша группа в VK</a></p>
                            <p><i class="fas fa-phone mr-3"></i>тел: +375(29)714-11-67</p>
                            <p><i class="fas fa-print mr-3"></i>тел: +375(29)593-95-90</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div
                    class="text-center p-3"
                    style="background-color: rgba(0, 0, 0, 0.2)"
            >
                © 2024 Copyright:
                <a class="text-dark" href="https://ivl-plus.by/"
                >ivl-plus.by</a
                >
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>
</div>